<h2>Product Details</h2>
<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>
  <button (click)="addToCart(product)">
    Buy
  </button>

  <p>The time is {{today | date:'h:mm a z'}}</p>

  <p>{{ today | date }}</p>
  <p>{{ today | date:'medium' }}</p>
  <p>{{ today | date:'shortTime' }}</p>
  <p>{{ today | date:'mm:ss' }}</p>
  <p>{{ sampleDate | date:'MM/dd/yyyy' }}</p>
  <p>{{ sampleStr | date:'MM/dd/yyyy' }}</p>
  <p>Age is: {{ age}}</p>
  <p>Visit length is: {{ lengthMins | number: '1.0-0'}} mins</p>

  <select>
    <option value=""></option>
    <option value="MM/dd/yyyy">[{{today | date:'MM/dd/yyyy'}}]</option>
    <option value="EEEE, MMMM d, yyyy"
      >[{{today | date:'EEEE, MMMM d, yyyy'}}]</option
    >
    <option value="EEEE, MMMM d, yyyy h:mm a"
      >[{{today | date:'EEEE, MMMM d, yyyy h:mm a'}}]</option
    >
    <option value="EEEE, MMMM d, yyyy h:mm:ss a"
      >[{{today | date:'EEEE, MMMM d, yyyy h:mm:ss a'}}]</option
    >
    <option value="MM/dd/yyyy h:mm a"
      >[{{today | date:'MM/dd/yyyy h:mm a'}}]</option
    >
    <option value="MM/dd/yyyy h:mm:ss a"
      >[{{today | date:'MM/dd/yyyy h:mm:ss a'}}]</option
    >
    <option value="MMMM d">[{{today | date:'MMMM d'}}]</option>
    <option value="yyyy-MM-ddTHH:mm:ss"
      >[{{today | date:'yyyy-MM-ddTHH:mm:ss'}}]</option
    >
    <option value="h:mm a">[{{today | date:'h:mm a'}}]</option>
    <option value="h:mm:ss a">[{{today | date:'h:mm:ss a'}}]</option>
    <option value="EEEE, MMMM d, yyyy hh:mm:ss a"
      >[{{today | date:'EEEE, MMMM d, yyyy hh:mm:ss a'}}]</option
    >
    <option value="MMMM yyyy">[{{today | date:'MMMM yyyy'}}]</option>
  </select>
</div>
